{% extends "blog/base.html" %}
{% block content %}
<div class="container">
  <h1 class="home-headline">Find The Top Bars Near You</h1>

  <div class="form-container">
    <form method="get" action="{% url 'blog-home' %}">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Search</button>
    </form>
  </div>
</div>

  <div class="bar-list">
    <!-- {{ businesses.0 }} -->
    {% if businesses.0.location.city %}
      <h4>These are the top ranked bars in the {{ businesses.0.location.city }} area</h4>
    {% endif %}

    <div class="row">
      
      {% for biz in businesses %}
      <div class="card col-sm-3" style="margin:1rem;">
        <img class="card-img-top" src="{{ biz.image_url }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ biz.name }}</h5>
          <p>{{ biz.rating }}</p>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
      {% endfor %}

      </div>

  </div>
  



   
{% endblock content %}
